<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to the Hospital App</h1>
    <nav>
        <ul class="list">
            <li class="list-item"><a href="{% url 'login' %}">Login</a></li>
            <li class="list-item"><a href="{% url 'signup' %}">Signup</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>